@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
}