.nav-bar {
  display: flex;
  align-self: stretch;
  align-items: center;

  height: 5rem;
  width: 100%;

  padding: 0 0px;
  margin: 0;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;

    z-index: 300;
    background-color: $main-bg-color;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
  }
}
