.nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  /* responsive */
  height: 80px;
  max-width: 1200px;

  padding: 0 24px;
  margin: 0;

  &__container {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;

    box-shadow: rgb(90 95 102) 0-1.5px 0 inset;

    z-index: 300;
    background-color: $black;
  }
  &__buttons {
    display: flex;
    margin-left: 1.6rem;
  }
}
